
header {
 display: block;
 /* margin-top: 10px; */
 
}
main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 5%;
}

body {
   /* margin: 0 auto; */
   /* padding: 3%; */
   background-color: #748d92;
   text-align: left;
   
}
section {
  margin: 3%;
}
 /* .homePage { */
   display: flex;
   justify-content: left;
 }

 h1 {
   display: flex;
   justify-content: center;
 }

 form {
   font-size: 50px;
   margin-top: 20px;
   display: flex;
   flex-direction: column;
   background-color: #748d92;
   color: white;
 }

 /* .formBox { */
   background-color: #748d92;
 }

 .submit {
   background-color: #124e66;

   color: white;

}
 .img{
   background-size:cover;
   background-repeat: no-repeat;
   height: 500px;
   background-position: center;
 }

 html, body {
   height: 100%;
   margin: 0;
   padding: 0;
 }
 .indoorOutdoor {
  display: flex;
  flex-direction: row;
 }
 .button {
  width: 600px;
  height: 150px;
  font-size: 120px;
  display: inline-grid;
  margin:0 39%;
  text-align: center;
  background-color: #124e66;
  color: white;
 }
 h2, h3,h4, h5, p {
  font-size: 20px;

 }
 div{
  color: white;
 }
 .modal-title, .modal-body,button{
  color:black;
 }
 input { 
  
 }