
header {
 display: block;
 /* margin-top: 10px; */
 
}
main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 5%;
}

body {

   background-color: #748d92;
   text-align: left;
   
}
section {
  margin: 3%;
}

 h1 {
   display: flex;
   justify-content: center;
 }

 form {
   font-size: 50px;
   margin-top: 20px;
   display: flex;
   flex-direction: column;
   background-color: #748d92;
   color: white;
 }

 .submit {
   background-color: #124e66;

   color: white;

}
 .img {
   background-size:cover;
   background-repeat: no-repeat;
   height: 500px;
   background-color: rgba(0, 0, 0, 0.3);
   background-position: center;
   background-blend-mode: overlay;
   border-radius: 25px;
  width:100%;
  /* height:100%; */
  margin: 0 auto;
  }
 
 html, body {
   height: 100%;
   margin: 0;
   padding: 0;
 }
 .indoorOutdoor {
  display: flex;
  flex-direction: row;
 }
 .button {
  width: 600px;
  height: 150px;
  font-size: 120px;
  display: inline-grid;
  margin:0 39%;
  text-align: center;
  background-color: #124e66;
  color: white;
  border-radius: 25px;
 }
 h2 {
  font-size: 20px;
  margin-left: 20px;
  
  }
 h3 {
  font-size: 60px;
  margin-left: 20px;
  font-weight: 200;
 }
 h4 {
  font-size: 20px;
  margin-left: 20px;
 }
 h5 {
  font-size: 30px;
  margin-left: 20px;
 }
 p {
  font-size: 40px;
  margin-left: 20px;
 }

 div{
  color: white;
 }
 .modal-title, .modal-body,button{
  color:black;
 }

 .centered {
  margin: auto;
  font-size: 30px

 }
 .rounded-image {
  border-radius: 25px;
  width:100%;
  height:100%;
  margin: 0 auto;
}