header {
    text-align: center;
    display: flex;
    flex-direction: row;
}
 body {
    padding: 10% 10%;
    text-align: center;
    margin: auto;
 }
 img {
    display:block;
 }

 #list-of-attractions{
   display:none;
 }
 .img{
   background-size:contain;
 }