* { 
    
    
}
header {
    margin: 0% 30%;
    text-align: center;
}

body {
    padding: 5% 20% ;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: space-evenly;
}
div {
    margin: 30px;
}

.middleColor {
    background-color: aqua;
}

aside {
    padding :0%;

}

footer {
}