/** { 
}*/

header {
    text-align: center;
}

.rounded-image {
    border-radius: 25px;
    width:100%;
    height:100%;
    margin: 0 auto;
}

body {
    margin: 0% 10%;
    background-color: #212a31;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
    margin-bottom: 0;
    border-radius: 25px;
    margin: 2% 0%;
}

div {
    margin: 30px;
}

.middleColor {
    background-color: #748d92;
}

.card {
    border-color: #212a31;
}

footer {
    background-color: #d3d9d4;
    margin-top: 0;
    padding: 1px 0 1px 0;
    text-align: center;
    border-radius: 25px 25px 0 0;
}

.about {
    column-count: 2;
}

button {
    /* width: 25%; */
    height: 25%;
    margin: 10px;
    padding: 0;
}

/*img {
    /* width: 200px; 
    /* height: 200px; 
}*/

button:hover {
    background-color: white;
}

.card-list:has(button:hover) button:not(:hover) {
    filter: blur(1.5px);
    background-color: rgb(219, 236, 236);
}

aside {
    margin: 0;
}

/* Media Queries */

/* Small devices */
/* @media (min-width: 600px) {
    body {
    background-color: #212a31;
    }
} */

/* Medium devices */

/* @media (min-width: 768px) {
     body {
    background-color: #212a31;
    }
} */

/* Large devices */

/* @media (min-width: 992px) {
     body {
    background-color: #212a31;
    }
} */

/* Extra Large devices */

/* @media (min-width: 1200px) {
    body {
    background-color: #212a31;
    }
} */