header {
    /* text-align: center; */
    display: flex;
    max-width: 50%;
    /* flex-direction: column; */
    justify-content: flex-start;
    
}

 body {
    padding: 2% 10%;
    text-align: left;
    margin: auto;
    background-color: #124e66;
 }

 #list-of-attractions{
   display:none;
 }


 .homePage {
   display: flex;
   justify-content: left;
 }

 h1 {
   display: flex;
   justify-content: center;
 }

 form {
   text: 24px;
   margin-top: 20px;
   display: flex;
   flex-direction: column;
   background-color: #748d92;
 }

 .formBox {
   background-color: #748d92;
 }

 .submit {
   background-color: #124e66;
   color: black;
}
 .img{
   background-size:contain;

 }
 div{
  color: white;
 }
 .modal-title, .modal-body,button{
  color:black;
 }